
.card {
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows:  repeat(2, 2fr);
    row-gap: 20px;
    column-gap: 20px;
    justify-content:center space-between;
    align-items: center;
}
.card-images {
    border: 5px solid #298616;
    
}

.card-images  img{
    
    width: 100px;
    height: 100px;
    
}

.card-images img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}