
  main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 20px;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Texto */
  .text {
    max-width: 900px;
    width: 100%;
  }
  .text h1, .text h2, .text h3 {
    text-align: center;
  }
  
  .text h1 {
    font-size: 28px;
    color: #298616;
    margin: 10px 0 20px;
    
    
  }
  
  .text h2 {
    font-size: 16px;
    color: #000000;
    margin-bottom: 15px;
  }
  
  .text h3 {
    font-size: 18px;
    margin: 25px 0 10px;
  }
  
  .text h4 {
    color: #0000008e;
    font-weight: 400;
    margin: 15px 0;
    text-align: center;
    line-height: 1.9;
  }
  
  .text p {
    font-size: 16px;
    line-height: 1.6;
    margin: 15px 0;
    white-space: wrap;
  }
  
  /* Container da imagem à direita */
  .cena {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;

  }
  
  .imge img {
    max-width: auto;
    height: auto;

    border-bottom: #0000008e 2px solid;
    border-right: #0000008e 2px solid;
    border-radius: 27px;
  }
  
  /* Responsivo */
@media (max-width: 992px) {
    main {
      flex-direction: column;
      align-items: center;
      padding: 30px 20px;
    }
  
    .cena {
      margin-top: 30px;
    }
  
    .imge img {
      max-width: 200px;
    }
}
  