html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100vh;
}

main {
    flex: 1; 
    padding: 40px 20px; 
    margin-top: 20px; 
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.qr-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.qr-code img {
    width: 290px;
    height: 290px;
    object-fit: contain;
}

/* Botão abaixo do QR Code */
.qr-code button {
    margin-top: 25px;
    padding: 12px 24px;
    background-color: #298616;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.qr-code button:hover {
    background-color: #298616;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

/* Texto da seção */
section h2, section p {
    max-width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0;
    margin-top: -90px; /* sobe o texto */
}

/* Responsividade */
@media (max-width: 768px) {
    section {
        flex-direction: column;
        text-align: center;
    }

    .qr-code img {
        width: 160px;
        height: 160px;
    }

    .qr-code button {
        width: 80%;
    }

    section h2, section p {
        margin: 10px 0;
        padding: 0 20px;
    }
}
