body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #298616;
    padding: 10px 0;
    
    
}
header img {
    display: block;
    margin: 0 auto;
    max-width: 100px; 
    height: auto;
}
header h1 {
    color: #ffffff;
    text-align: center;;
    -webkit-text-stroke: 1px black ;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
}

.header-title{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
    -webkit-text-stroke: 1px black ;
    font-family: Arial, Helvetica, sans-serif;
}
.header-title img{
    display: flex;
    justify-content: flex-start;
    margin-left: auto;
    position: left;
    margin-top: 10px;
}
nav {
    
    text-align: center;
    background-color: #004d00;
    padding: 10px 0;
    height: 25px;
    
    
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}




nav a:hover {
    background-color: rgb(70, 71, 72);
}

ul {
    list-style: none;
    padding: 0;
    
}
li {
    display: inline;
    margin: 0 10px;
}



.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.qr-code{
    margin: 30px 80px 80px 150px;
    position: relative;
    top: 0;
}
.qr-code img {
    border: #004d00 5px solid;
    border-radius: 10px;
}
section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

section h2, section p {
    margin: 0px 300px 80px 150px;
    position: relative;
    top: 0;
    font-family:Arial, Helvetica, sans-serif ;
}



footer {
    background: #298616;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.icons {
    display: flex;
    justify-content: left;
    margin-top: -50px;
    margin-left: 100px;
    
}